<menus>

    <menu name='网站管理'  icon='fa fa-gears' id='webstationManagement' >
        <menu name='导航菜单' ct='system' ac='menu_index' icon='fa fa-dashboard' default='true' />
        <menu name='基础设置' ct='system' ac='baise_config' icon='fa fa-dashboard'  />
        <menu name='简介内容' ct='system' ac='basic_content' icon='fa fa-file-text-o' display='' />
        <menu name='友情链接' ct='system' ac='friend_link' icon='fa fa-dashboard'  />
        <menu name='留言管理' ct='message' ac='list' icon='fa fa-dashboard'  />
    </menu>

     <menu name='产品管理'  icon='fa fa-gears' id='galleryManagement' >
        <menu name='产品列表' ct='gallery' ac='list' icon='fa fa-dashboard'  />
        <menu name='标签管理' ct='labes' ac='list' icon='fa fa-dashboard'  />
    </menu>

    <menu name='视频管理'  icon='fa fa-gears' id='videosManagement' >
        <menu name='视频列表' ct='video' ac='list' icon='fa fa-dashboard'  />
        <menu name='分类管理' ct='cates' ac='list' icon='fa fa-dashboard'  />
        <menu name='标签管理' ct='labes' ac='list' icon='fa fa-dashboard'  />
        <menu name='地区管理' ct='areas' ac='list' icon='fa fa-dashboard'  />
        <menu name='添加视频' ct='video' ac='add' icon='fa fa-dashboard'  />
    </menu>

    <menu name='图集管理'  icon='fa fa-gears' id='magesManagement' >
        <menu name='图片列表' ct='images' ac='list' icon='fa fa-dashboard'  />
        <menu name='标签管理' ct='labes' ac='list' icon='fa fa-dashboard'  />
    </menu>

    <menu name='小说管理'  icon='fa fa-gears' id='novelsManagement' >
        <menu name='小说列表' ct='novel' ac='list' icon='fa fa-dashboard'  />
        <menu name='标签管理' ct='labes' ac='list' icon='fa fa-dashboard'  />
        <menu name='分类管理' ct='cates' ac='list' icon='fa fa-dashboard'  />

    </menu>


    <menu name='控制中心'  icon='fa fa-gears' id='systemManagement' >
        <menu name='菜单设置' ct='system' ac='menus' icon='fa fa-dashboard'  />
        <menu name='用户管理' icon='fa fa-user'   >
            <menu name='用户组管理' ct='admin' ac='grouplist' icon='fa fa-users' display='' />
            <menu name='用户列表' ct='admin' ac='userlist' icon='fa fa-user' display='' />
            <menu name='在线用户' ct='admin' ac='online' icon='fa fa-users' display='' />
            <menu name='登陆日志' ct='admin' ac='loginlog' icon='fa fa-users' display='' />
        </menu>
        <menu name="缓存管理" icon="fa fa-file" >
            <menu name='清除缓存' ct='cache' ac='clear' icon='fa fa-dashboard'  />
            <menu name='redis管理' ct='cache' ac='upload_file' icon='fa fa-dashboard'  />
            <menu name='文件缓存' ct='cache' ac='file_label' icon='fa fa-dashboard'  />
        </menu>
        <menu name='数据库管理'  icon='fa fa-database' display='' >
            <menu name='数据备份' ct='system' ac='data_backups' icon='fa fa-cogs' display='' />
            <menu name='数据表优化' ct='system' ac='data_optimization' icon='fa fa-cogs' display='' />
            <menu name='SQL查询' ct='system' ac='data_select' icon='fa fa-cogs' display='' />
        </menu>

    </menu>

</menus>
